<footer class="footer-style-3 primary-bg-color pt-120 pb-3 pb-xl-0" th:fragment="footer">
  <div class="container-large">
    <div class="row">
      <div class="col-xl-8">
        <div class="row g-4">
          <div class="col-xxl-4 col-xl-5 col-lg-3 col-md-6">
            <div class="ur3-footer-widget">
              <a href="/" class="footer-logo"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
              <span class="text-white fw-medium fs-sm d-block mt-40">Quick Contact</span>
              <a href="#"><h3 class="text-white fw-normal mt-1">+91 97911 39308</h3></a>
              <div class="ur3-footer-social mt-32">
                <a href="https://www.facebook.com/jb.makeupsofficial/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/jb_makeups/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@JBMakeups"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-2 col-lg-3 ps-lg-5 ps-xl-0 col-md-6">
            <div class="ur3-footer-widget">
              <h4 class="text-white widget-title mb-40 fw-normal">Useful Links</h4>
              <ul class="ur3-footer-links">
                <li><a href="#">Collections</a></li>
                <li><a href="#">Deals</a></li>
                <li><a href="#">Necklaces</a></li>
                <li><a href="#">Bestsellers</a></li>
                <li><a href="#">Combos</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xxl-2 col-xl-3 ps-xl-5 ps-xxl-0 col-lg-3 col-md-6">
            <div class="ur3-footer-widget">
              <!--                                <h4 class="text-white widget-title mb-40 fw-normal">Useful Links</h4>-->
              <!--                                <ul class="ur3-footer-links">-->
              <!--                                    <li><a href="#">Collections</a></li>-->
              <!--                                    <li><a href="#">Deals</a></li>-->
              <!--                                    <li><a href="#">Necklaces</a></li>-->
              <!--                                    <li><a href="#">Bestsellers</a></li>-->
              <!--                                    <li><a href="#">Combos</a></li>-->
              <!--                                </ul>-->
            </div>
          </div>
          <div class="col-xxl-2 offset-xxl-1 col-xl-2 col-lg-3 col-md-6">
            <div class="ur3-footer-widget">
              <!--                                <h4 class="text-white widget-title mb-40 fw-normal">Useful Links</h4>-->
              <!--                                <ul class="ur3-footer-links">-->
              <!--                                    <li><a href="#">Collections</a></li>-->
              <!--                                    <li><a href="#">Deals</a></li>-->
              <!--                                    <li><a href="#">Necklaces</a></li>-->
              <!--                                    <li><a href="#">Bestsellers</a></li>-->
              <!--                                    <li><a href="#">Combos</a></li>-->
              <!--                                </ul>-->
            </div>
          </div>
        </div>
        <div class="ur3-newsletter-box mt-60">
          <div class="row g-3 g-sm-4 align-items-center">
            <div class="col-xl-5 col-lg-6">
              <!--                                <div class="ur3-newsletter-content">-->
              <!--                                    <h3 class="mb-4 text-white">Our Newsletter</h3>-->
              <!--                                    <p class="mb-0 fw-light text-color">Pretium etiam imperdiet interdum porttitor urna eget inceptos felis ultricies libero</p>-->
              <!--                                </div>-->
            </div>
            <div class="col-xl-7 col-lg-6 col-md-8">
              <!--                                <form class="ur3-newsletter-form d-flex align-items-center gap-4">-->
              <!--                                    <input type="text" placeholder="Enter your email" class="theme-input">-->
              <!--                                    <button type="submit" class="template-btn secondary-btn flex-shrink-0"><span>Subscribe Now</span></button>-->
              <!--                                </form>-->
            </div>
          </div>
        </div>
        <div class="ur3-footer-copyright">
          <div class="row align-items-center g-3">
            <div class="col-md-6">
              <p class="mb-0 text-white">© 2025 JB Makeups. All Rights Reserved</p>
            </div>
            <div class="col-md-6">
              <div class="text-md-end">
                <img src="images/icons/cards.png" alt="cards" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <ul class="footer-instagram-gallery ps-xl-5">
          <li>
            <img src="images/gallery/insta-1.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-1.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-2.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-2.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-3.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-3.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-4.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-4.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-5.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-5.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-6.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-6.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-7.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-7.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-8.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-8.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <img src="images/gallery/insta-9.jpg" alt="gallery image" class="img-fluid">
            <a href="images/gallery/insta-9.jpg" data-fancybox="gallery2"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>