<aside id="sidebar-left" class="sidebar-left" th:fragment="menu" >
				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				    <div class="nano">
				        <div class="nano-content">
				            <nav id="menu" class="nav-main" role="navigation">
				                <ul class="nav nav-main">
				                    <li>
				                        <a class="nav-link" href="/admin/">
				                            <i class="bx bx-home-alt" aria-hidden="true"></i>
				                            <span>Dashboard</span>
				                        </a>                        
				                    </li>
				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
				                            <span>Order Management</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            
                                            <li>
				                                <a class="nav-link" href="../admin/view-all.php">
				                                   View All Orders 
				                                </a>
				                            </li>		                            
				                            
				                        </ul>
				                    </li>
				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            
				                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
				                            <span> Products </span>
                                        </a>
                                        <ul class="nav nav-children">
                                                <li>
                                                    <a class="nav-link" href="/admin/ecommerce-products">
                                                        Add New Product                                           
				                                    </a>
                                                </li> 
                                                <li>
                                                    <a class="nav-link" href="/admin/manageProduct">
                                                        View/Edit Product                                           
				                                    </a>  
                                                </li>

											<li>
												<a class="nav-link" href="/admin/limited-edition">
													Add Limited Edition Product
												</a>
											</li>
											<li>
												<a class="nav-link" href="/admin/limited-edition">
													View/Edit Limited Edition Product
												</a>
											</li>

										</ul>
				                    </li>
									<li class="nav-parent">
										<a class="nav-link" href="#">

											<i class="bx bx-cart-alt" aria-hidden="true"></i>
											<span> try </span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a class="nav-link" href="/admin/tryAddProduct">
													Add New Product
												</a>
											</li>
											<li>
												<a class="nav-link" href="/admin/tryManageProduct">
													View/Edit Product
												</a>
											</li>

										</ul>
									</li>
<!--									blog-->
									<li class="nav-parent">
										<a class="nav-link" href="#">

											<i class="bx bx-cart-alt" aria-hidden="true"></i>
											<span> Blog </span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a class="nav-link" href="/admin/blogAdd">
													Add New Blog
												</a>
											</li>
											<li>
												<a class="nav-link" href="/admin/blogManage">
													View/Edit Blog
												</a>
											</li>

										</ul>
									</li>

									<li class="nav-parent">
										<a class="nav-link" href="#">

											<i class="bx bx-cart-alt" aria-hidden="true"></i>
											<span> Insta Memory </span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a class="nav-link" href="/admin/instaMemoryAdd">
													Add Memory
												</a>
											</li>
											<li>
												<a class="nav-link" href="/admin/instaMemoryManage">
													View/Edit Memory
												</a>
											</li>

										</ul>
									</li>

									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            
				                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
				                            <span> Gallery </span>
                                        </a>
                                        <ul class="nav nav-children">
                                                <li>
                                                    <a class="nav-link" href="../admin/gallery_add.php">
                                                        Add Photo                                        
				                                    </a>  
                                                </li> 
                                                <li>
                                                    <a class="nav-link" href="../admin/gallery_manage.php">
                                                        View/Edit Photo                                           
				                                    </a>  
                                                </li> 
												<li>
                                                    <a class="nav-link" href="../admin/video_add.php">
                                                        Add Video                                       
				                                    </a>  
                                                </li> 
                                                <li>
                                                    <a class="nav-link" href="../admin/video_manage.php">
                                                        View/Edit Video                                           
				                                    </a>  
                                                </li> 
                                                                   
                                        </ul>
				                    </li>

				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
				                            <span>Customers</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="../admin/customers_list.php">
				                                    All Customers
				                                </a>
				                            </li>                       
				                            
				                        </ul>
				                    </li>



									<li class="nav-parent">
										<a class="nav-link" href="#">
											<i class="bx bx-cart-alt" aria-hidden="true"></i>
											<span>Testimonial</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a class="nav-link" href="/admin/testimonial-add">
													Add Testimonial
												</a>
											</li>
											<li>
												<a class="nav-link" href="/admin/testimonial-manage">
													Manage Testimonial
												</a>
											</li>

										</ul>
									</li>

				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-file" aria-hidden="true"></i>
				                            <span>Reports</span>
				                        </a>
				                        <ul class="nav nav-children">
				                            <li>
				                                <a class="nav-link" href="../admin/sales_report.php">
				                                    Sales Report
				                                </a>
				                            </li>
				                           
				                        </ul>
				                    </li>

									
									<li class="">
										<a class="nav-link" href="../admin/logout.php">
				                            <span>
												<form action="../admin/logout.php" method="POST">
													<button type="submit" class="btn btn-warning ms-4">Logout</button>
												</form>
											</span>
				                        </a>
				                    </li>
				                </ul>
				            </nav>
				        </div>
				        <script>
				            // Maintain Scroll Position
				            if (typeof localStorage !== 'undefined') {
				                if (localStorage.getItem('sidebar-left-position') !== null) {
				                    var initialPosition = localStorage.getItem('sidebar-left-position'),
				                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
				                    sidebarLeft.scrollTop = initialPosition;
				                }
				            }
				        </script>
				    </div>
				</aside>